.section{
    display: flex;;
    flex-direction: column;
    
    .article{
        display: flex;
        flex-direction: column;
    }

    .img{
        height: 100px;
        width: 100px;
    }
}