.input{
    display: flex;
    gap: 0px;
    flex-direction: column;
   
    width: 300px;
    margin-left: 90px;
    
    justify-content: center;
    
    
}

.input input{
    height: 15px;
    padding: 5px;

}

@media  screen and (min-width: 641px) {
    .input input{
        height: 15px;
        padding: 5px;
    
    }
}

@media screen and (min-width: 1024px){
    .input input {
       
        height: 15px;
        padding: 5px;

    }
 }

@media screen and (min-width: 1281px) {
    .input input {
        height: 20px;
        padding: 15px;
        width: 315px;
        
      }
      .input{
        gap: 3px;
      }
 }

 